<!-- link de bootstrap css -->
{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
<!-- link de Fontawesome -->
<script src="https://kit.fontawesome.com/80afc1ebb2.js" crossorigin="anonymous"></script>
<title>{{ task.title }}</title>

<main class="container">
  <div class="cont">
    <div class="alert">
      <img src="{% static 'img/alert.png' %}" alt="">
    </div>
  <form method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete this task. "{{ task }}"</p>
    <div class="btn1">
      <button type="submit" class="btn btn-danger" id="btn">Delete</button>
    <a href="{% url 'Home' %}" class="btn btn-info">Go back</a>
    </div>
  </form>
  
</div>
</main>
 
<style>
  body{
    background-color: #38A17E;
  }
  main .cont{
    padding: 18px;
    font-size: 2rem;
  margin-top: 5rem;
  box-shadow:15px 16px 12px #22614c ;
  border-radius: 15px;
  }

  .btn1 {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .btn1 button{
    width: 12rem;
  }

  .btn1 a {
    width: 12rem;
  }

  .alert{
    display:flex;
    justify-content: center;
  }
</style>