{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- link de bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <!-- link de Fontawesome -->
    <script src="https://kit.fontawesome.com/80afc1ebb2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'CSS/Style.css' %}">
    <title>Home</title>
  </head>
  <body>

    <header>
      <nav>
        {% if request.user.is_authenticated %}
        <ul>
          <li title="{{request.user}}"><img src="{% static 'img/user.png' %}" alt=""></i></li>
          <li title="User"><a href="/">{{request.user}}</a></li>
        </ul>

        <form method="get">
          <input type="text" name="search" placeholder="Search" value="{{search}}">
          <button type="submit"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
          <a href="{% url 'logaut' %}"><img title="Logaut" src="{% static 'img/ico1.png' %}" alt=""></a>
        </form>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        {% endif %}
      </nav>
    </header>
    <main class="container">
      
     
      <section> 
        <div>
          <a href="{% url 'createTask' %}"> Add Task</a>
          </div>
      {% for i in Task %}

      {% if i.complete == False %}

      <h2 style="color:#f55a41;">{{ i.title }}</h2>
      <p style="color:#f55a41;">The task has not been completed</p>

      {% else %}
      <h2 style="color:#05E374;">{{ i.title }}</h2>
      <p style="color:#05E374 ;">Task completed</p>
      {% endif %}

        <p>{{ i.description | truncatechars:150}}</p>
        <a href="{% url 'task' i.id %}" class="views"><img title="views" src="{% static 'img/views.png' %}" alt=""></a>
        <a href="{% url 'updateTask' i.id %}" class="Update"><img title='update' src="{% static 'img/update.png' %}" alt=""></a>
        <a href="{% url 'deleteTask' i.id %}" class="delete"><img title="delete" src="{% static 'img/delete.png' %}" alt=""></a> 
        <hr>
        {% empty %}
        <h3>la lista esta vacia</h3>
      {% endfor %}
      </section>
  </main>
    <!-- link de JS bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
  </body>
</html>